@font-face {
	font-family: 'Figtree-Bold';
	src: url('/fonts/Figtree-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Figtree-SemiBold';
	src: url('/fonts/Figtree-SemiBold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Figtree-Medium';
	src: url('/fonts/Figtree-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Figtree-Regular';
	src: url('/fonts/Figtree-Regular.ttf');
	font-weight: 400;
}

body {
	background: #0c0e13;
	margin: 0;
}

body::-webkit-scrollbar {
	display: none;
}

@media screen and (min-width: 900px) {
	body {
		padding: 40px 0;
	}
}
